@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


* {
    font-family: poppins;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: url(./img/brainstorming_session__monochromatic.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav {
    display: none;
    position: fixed;
    width: 60px;
    height: 100%;
    background-color: teal;
    transition: .5s;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.6);
    overflow-y: auto;
    
}


.nav.active {
    display: block;
    width: 60px;
}

.nav.active:hover {
    width: 200px;
}

.nav ul {
    padding-left: 0px !important;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
}

.nav ul li {
    position: relative;
    width: 100%;
    list-style: none;
    
}

.nav ul li:hover {
    background-color: rosybrown;
}

.nav ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #fff;
}

.nav ul li a .icon {
    padding-left: 16px;
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
}

.nav ul li a .icon .fa {
    font-size: 24px;
}

.nav ul li a .title {
    position: relative;
    display: block;
    min-width: 60px;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

.toggle {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: teal;
    opacity: 0.7;
    cursor: pointer;
    z-index: 99;
}

.toggle:hover, .toggle:active {
    background-color: teal;
}

.toggle .fas {
    color: #fff;
    font-size: 24px;
}

.toggle .fas:active, .toggle .fas:hover {
    color: #fff;
}


.toggle.active {
    background-color: rgb(2, 80, 80);

}


/* .toggle::before {
    content: '\f0c9';
    font-family: fontAwesome;
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #fff;
} */

/* .toggle.active{
    content: '\f00d';
} */

.card {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}

.card-footer {
    color: #efe;
}

.card:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.card.kimia {
    background-color: #55efc4;
    color: #fff;
}

.card.biologi {
    background-color: #74b9ff;
    color: #fff;
}

.card.fisika {
    background-color: #a29bfe;
    color: #fff;
}

.card.matematika {
    background-color: #fab1a0;
    color: #fff;
}

.card.indonesia {
    background-color: #ff7675;
    color: #fff;
}

.card.inggris {
    background-color: #e67db0;
    color: #fff;
}

.card.pai {
    background-color: #00b894;
    color: #fff;
}

.card.pkn {
    background-color: #78e08f;
    color: #fff;
}

.card.olahraga {
    background-color: #fa983a;
    color: #fff;
}

.card.sejarah {
    background-color:#e17055;
    color: #fff;
}

.buttonCard {
    display: block;
    background-color: #fdcb6e;
    color: white;
}

.buttonCard:hover {
    background-color: #fcbc45;
    color: white !important;
}

.buttonNotif {
    background-color: teal;
    color: white;
}

.buttonNotif:hover {
    color: white;
}

.imgAcc {
    display: none;
    min-width: 200px;
    white-space: nowrap;
    text-align: center !important;
    padding-bottom: 4px;
}

.accountable {
    display: block !important;
}



.imgAcc h5 {
    color: #fff;
    text-align: center !important;
    font-size: 20px !important;
    position: relative;
    display: block;
    min-width: 60px;
}

.imgAcc p {
    color: #fff;
    position: relative;
    display: block;
    min-width: 60px;
}


.imgAcc img {
    border-radius: 50px !important;
    width: 100px;
    height: 100px;
}

.schedule {
    max-height: 43vh;
}

.schedulebody {
    overflow-y: scroll;
}

.announcement {
    max-height: 43vh;
}

.announcementbody {
    overflow-y: auto;
}

.title h1 {
    color:#fff;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    position: absolute;
    bottom: -60px;
    color: white;
    width: 100%;
    z-index: 1;
}

.footer .title p {
    font-size: 15px !important;
    font-weight: lighter;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}





@media (max-width: 576px) {

    body {
        overflow-x: hidden !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        height: 450vh !important;
    }

    .nav {
        width: 60px;
    }

    .nav.active:hover {
        width: 100%;
    }
    
    .nav.active {
    left: 0px;
    width: 100%;
    }

    .schedule {
        position: absolute;
        bottom: -1400px !important;
        margin-right: 15px;
        width: 297px !important;

    }

    .announcement {
        position: absolute;
        bottom: -600px !important;
        margin-right: 15px;
        width: 297px !important;
    }


    .notif {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .container-fluid {
        margin-right: -15px !important;
    }

    .card:active {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4) !important;
    }
    
    .footer {
        position: relative;
        bottom: -670px !important;
    }

    .footer .title p {
        font-size: 13px !important;
    }

    
}


@media (max-width: 767px) {

    body {
        overflow-x: hidden;
        height:870vh;
    }

    .schedule {
        position: absolute;
        bottom: -1525px;
        margin-right: 15px;
        width: 591px;
        min-height: 400px;

    }

    .announcement {
        position: absolute;
        bottom: -850px;
        margin-right: 15px;
        width: 591px;
        min-height: 400px;
    }

    .nav {
        display: block;
        width: 60px;
    }

    .nav.active {
    left: 0px;
    width: 100%;
    }

    .nav.active:hover {
        width: 100%;
    }

    .card:active {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    }

    .footer {
        position: relative;
        bottom: -870px !important;
    }

    .footer .title p {
        font-size: 13px !important;
    }


}




